.hide {
  display: none;
}





/* Apply flexbox to achieve the desired layout */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: #f2f2f2;
}



/* Styles for the login form */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  width: 650px; /* Increase the width to make the container wider */
  height: 450px; /* Increase the height to make the container taller */
  padding: 10px; /* Add padding to increase the visual size */
}

.login-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px; /* Increase the padding to add more space around the form */
  text-align: center;
  width: 90%; /* Use a percentage to make it responsive */
  margin: 0 auto; /* Center the form horizontally within the container */
}

h1 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Styles for the search_record.html page */
.search-container {
  width: 65em; /* Increase the width to make the container wider */
  padding: 20px;
  margin-top: 20px; /* Add space at the top */
}

/* Additional adjustments for the search form */
.form-group-search {
  margin-bottom: 15px;
}

.form-control-search {
  width: 20em;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-primary-search {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary-search:hover {
  background-color: #0056b3;
}

/* Additional styles for search results */
.result-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-top: 30px;
  padding-bottom: 20px;
  margin-top: 20px;
  
}

.result-title {
  margin-bottom: 10px;
}

.result-item {
  margin-bottom: 15px;
}


/* New flex container for the whole page */
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the elements horizontally */
  justify-content: center; /* Centers the elements vertically */
  margin-left: 120px; /* Width of the sidebar */
  padding: 20px;
}


/* Sidebar Styles */
.sidebar {
  height: 100%;
  width: 120px;   /* Set your desired initial width */
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 80px;
  z-index: 1;
  transition: width 0.3s ease;
  
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 1rem;
}

.sidebar li {
  margin-bottom: 5rem;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
}

.sidebar a:hover {
  background-color: #555;
}

/* Navbar Styles */
.navbar {
  z-index: 2;
}

/* Add additional styles as needed for other elements */



/* Custom CSS styles for the add-record-container */
.add-record-container {
  width: 30rem;
  max-width: 50rem; /* Adjust this value to your desired width */
  margin: 0 auto;
  text-align: center;
}

/* Reduce the margin between <h1> and the form */
.add-record-container h1 {
  margin-bottom: -15px; /* Adjust this value to reduce the margin */
}




#sidebar-toggle-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
  z-index: 1;
  color: #E6E6E6;
  font-size: 1.5rem;
  margin-top: 3rem;
 
}


.sidebar-minimized {
  width: 50px; /* Set your desired minimized width */
}


.hidden-text {
  display: none;
}
