{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django CRM</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.15.0/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.15.0/font/bootstrap-icons.css" rel="stylesheet">



  </head>



  <body>
    
    
    
    <div id="sidebar">
      <ul>
        <li><a href="{% url 'home' %}"><i class="bi bi-house-door"></i> Home</a></li>
        <li><a href="{% url 'register' %}"><i class="bi bi-person-plus"></i> Register</a></li>
        <li><a href="{% url 'record' 1 %}"><i class="bi bi-file-earmark-text"></i> Customer Record</a></li>
        <li><a href="{% url 'delete_record' 1 %}"><i class="bi bi-file-earmark-minus"></i> Delete Record</a></li>
        <li><a href="{% url 'add_record' %}"><i class="bi bi-file-earmark-plus"></i> Add Record</a></li>
        <li><a href="{% url 'update_record' 1 %}"><i class="bi bi-file-earmark-check"></i> Update Record</a></li>
        <li><a href="{% url 'search_record' %}"><i class="bi bi-search"></i> Search Record</a></li>
        <li><a href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
      </ul>
    </div>

    



    {% include 'navbar.html' %}
    <div class="container">
      <br/>



      {% if messages %}



      {% for message in messages %}

      <div class="alert alert-success alert-dismissible alert-dismissible-auto fade show" role="alert">
        {{ message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      {% endfor %}


      {% endif %}




      <div id="content">


        {% block content %}
        {% endblock%}

      </div>
      
      
    </div>


    <script>
      setTimeout(function() {
        var alertAuto = document.querySelectorAll('.alert-dismissible-auto');
        alertAuto.forEach(function(element) {
          element.classList.add('hide');
        });
      }, 6000);
    </script>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>