<!-- lab.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Lab Page</title>
</head>
<body>

    <style>
        .container-1 {
            display: flex;
            
        }

        .container-1 div {
            border: 1px solid #ccc;
            padding: 10px;
            
        }

        .box-1 {
            flex: 2;
            order: 3;
        }

        .box-2 {
            flex-basis: 20%;
            order: 2;
        }

        .box-3 {
            flex: 1.5;
            order: 1;
        }


    </style>

    <div class="container-1">

        <div class="box-1">
            <h3>Box One</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adispiscing elit</p>
        </div>

        <div class="box-2">
            <h3>Box Two</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adispiscing elit</p>
        </div>

        <div class="box-3">
            <h3>Box Three</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adispiscing elit</p>
        </div>

    </div>
    
</body>
</html>
