{% load static %}
<!DOCTYPE html>
<html>
<head>
  
  <!-- Link to your custom CSS file -->
  <link href="{% static 'css/custom.css' %}" rel="stylesheet">
</head>
<body>
  <!-- Your template content -->



  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-width">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Django CRM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_record' %}">Add Record</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'search_record' %}">Search Record</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% endif %}
        </ul>
        
        {% if user.is_authenticated %}
        <span class="navbar-text">
          Welcome, {{ user.username }}!
        </span>
        {% else %}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Login</a>
          </li>
        </ul>
        {% endif %}
        
      </div>
    </div>
  </nav>
  

</body>
</html>












